## Dataset
#### https://www.kaggle.com/datasets/victorsoeiro/netflix-tv-shows-and-movies?select=titles.csv

1. Developing a content-based recommender system using the genres and/or descriptions.
2. Identifying the main content available on the streaming.
3. Network analysis on the cast of the titles.
4. Exploratory data analysis to find interesting insights.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
import plotly.express as py
import plotly.graph_objects as go
from plotly.offline import init_notebook_mode, iplot
import cufflinks as cf
init_notebook_mode(connected=True)
cf.go_offline()

In [3]:
import plotly.io as pio
pio.renderers.default = "notebook_connected"

### Title of Movie & Show

In [4]:
title = pd.read_csv('titles.csv')
title.head()

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,ts300399,Five Came Back: The Reference Films,SHOW,This collection includes 12 World War II-era p...,1945,TV-MA,51,['documentation'],['US'],1.0,NaN,NaN,NaN,0.600,NaN
1,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,114,"['drama', 'crime']",['US'],NaN,tt0075314,8.2,808582.0,40.965,8.179
2,tm154986,Deliverance,MOVIE,Intent on seeing the Cahulawassee River before...,1972,R,109,"['drama', 'action', 'thriller', 'european']",['US'],NaN,tt0068473,7.7,107673.0,10.010,7.300
3,tm127384,Monty Python and the Holy Grail,MOVIE,"King Arthur, accompanied by his squire, recrui...",1975,PG,91,"['fantasy', 'action', 'comedy']",['GB'],NaN,tt0071853,8.2,534486.0,15.461,7.811
4,tm120801,The Dirty Dozen,MOVIE,12 American military prisoners in World War II...,1967,NaN,150,"['war', 'action']","['GB', 'US']",NaN,tt0061578,7.7,72662.0,20.398,7.600

In [5]:
title.shape

(5850, 15)

In [6]:
title.genres.value_counts()

['comedy']                                                       484
['documentation']                                                329
['drama']                                                        328
['comedy', 'drama']                                              135
['drama', 'romance']                                             124
                                                                ...
['drama', 'war', 'action', 'thriller', 'history', 'european']      1
['thriller', 'crime', 'drama', 'western']                          1
['drama', 'scifi', 'fantasy', 'horror']                            1
['horror', 'fantasy', 'thriller']                                  1
['documentation', 'music', 'reality']                              1
Name: genres, Length: 1726, dtype: int64

In [7]:
title1 = title.assign(genre=title['genres'].str.split(",")).explode('genre')

In [8]:
title1["genre"] = title1["genre"].str.replace("^\['|'\]$","")

/var/folders/q4/m_b1xrxn53j9tp7kn4drjl080000gn/T/ipykernel_38375/1213520326.py:1: FutureWarning:

The default value of regex will change from True to False in a future version.

In [9]:
title1['genre'] = title1["genre"].str.replace("'","")
# title['country'] = title["country"].str.replace("'","")

In [10]:
title1['genre'] = title1['genre'].str.strip()
# title['country'] = title['country'].str.strip()

In [11]:
title1.head()

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score,genre
0,ts300399,Five Came Back: The Reference Films,SHOW,This collection includes 12 World War II-era p...,1945,TV-MA,51,['documentation'],['US'],1.0,NaN,NaN,NaN,0.600,NaN,documentation
1,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,114,"['drama', 'crime']",['US'],NaN,tt0075314,8.2,808582.0,40.965,8.179,drama
1,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,114,"['drama', 'crime']",['US'],NaN,tt0075314,8.2,808582.0,40.965,8.179,crime
2,tm154986,Deliverance,MOVIE,Intent on seeing the Cahulawassee River before...,1972,R,109,"['drama', 'action', 'thriller', 'european']",['US'],NaN,tt0068473,7.7,107673.0,10.010,7.300,drama
2,tm154986,Deliverance,MOVIE,Intent on seeing the Cahulawassee River before...,1972,R,109,"['drama', 'action', 'thriller', 'european']",['US'],NaN,tt0068473,7.7,107673.0,10.010,7.300,action

In [12]:
title1['genre'].value_counts()

drama            2968
comedy           2325
thriller         1228
action           1157
romance           971
documentation     952
crime             936
animation         705
family            682
fantasy           630
scifi             589
european          443
horror            378
music             262
history           254
reality           234
sport             170
war               163
[]                 59
western            41
Name: genre, dtype: int64

In [13]:
title1[title1['genre'] == '[]']

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score,genre
212,tm255589,One Last Shot,MOVIE,"In this low-budget short film, two best buddie...",1998,NaN,30,[],[],NaN,NaN,NaN,NaN,1.890000,5.2,[]
619,tm341561,Like Twenty Impossibles,MOVIE,Occupied Palestine: A serene landscape now poc...,2003,NaN,16,[],['PS'],NaN,NaN,NaN,NaN,0.812000,6.5,[]
632,ts86241,Le Robe De Mariage Des Cieux,SHOW,It was with much difficulty that Ai Qing was a...,2004,TV-MA,63,[],[],1.0,NaN,NaN,NaN,0.600000,NaN,[]
636,tm404676,To and from New York,MOVIE,"While covering a story in New York City, a Sea...",2006,NaN,82,[],['US'],NaN,NaN,NaN,NaN,1.401000,5.8,[]
637,tm89054,Osuofia in London 2,MOVIE,Osuofia return to his Nigerian village with a ...,2004,NaN,72,[],['XX'],NaN,NaN,NaN,NaN,1.091000,NaN,[]
961,tm458034,BoJack Horseman Christmas Special,MOVIE,"It's Christmas, and BoJack wants nothing to do...",2014,NaN,25,[],['US'],NaN,NaN,NaN,NaN,1.566000,7.1,[]
1061,tm132675,100 Things to Do Before High School,MOVIE,With the pressures of high school in their nea...,2014,NaN,44,[],['US'],NaN,NaN,NaN,NaN,0.009442,NaN,[]
1111,ts271005,幸福料理,SHOW,NaN,2014,TV-14,44,[],[],1.0,NaN,NaN,NaN,0.600000,NaN,[]
1628,tm860487,Pac’s Scary Halloween,MOVIE,Dr. Pacenstein and Eeghost are plotting to rui...,2016,NaN,44,[],['US'],NaN,NaN,NaN,NaN,1.989000,7.4,[]
1704,tm1063792,NaN,MOVIE,NaN,2015,NaN,11,[],[],NaN,tt4661188,NaN,NaN,NaN,NaN,[]
1813,ts77824,My Next Guest Needs No Introduction With David...,SHOW,TV legend David Letterman teams up with fascin...,2018,TV-MA,50,[],['US'],4.0,tt7829834,7.8,5581.0,8.217000,7.6,[]
1939,ts215037,Minecraft: Story Mode,SHOW,"MInecraft: Story Mode is an interactive, anima...",2018,TV-PG,52,[],['US'],1.0,tt10498322,5.6,347.0,NaN,NaN,[]
2386,ts74805,A Little Help with Carol Burnett,SHOW,In this unscripted series starring comedy lege...,2018,TV-G,24,[],['US'],1.0,tt7204366,6.3,237.0,1.621000,6.2,[]
2431,tm361743,A Miraculous Christmas Special: Tales of Ladyb...,MOVIE,"It's Christmas in Paris, a time for generosity...",2017,NaN,21,[],"['JP', 'KR', 'FR']",NaN,NaN,NaN,NaN,0.605000,9.0,[]
2485,ts268283,RIDE ON TIME,SHOW,NaN,2018,TV-PG,22,[],['JP'],3.0,NaN,NaN,NaN,1.328000,NaN,[]
2658,ts265844,#ABtalks,SHOW,#ABtalks is a YouTube interview show hosted by...,2018,TV-PG,68,[],[],1.0,tt12635254,9.6,7.0,NaN,NaN,[]
2677,ts222363,Monkart,SHOW,Jin and his dragon monster Draka set out on a ...,2017,TV-Y7,12,[],['KR'],1.0,NaN,NaN,NaN,0.682000,NaN,[]
2812,tm444257,Genius,MOVIE,Pressured by his dad since childhood and by hi...,2018,NaN,98,[],['IN'],NaN,NaN,NaN,NaN,2.014000,6.5,[]
2813,tm1073482,Motu Patlu Kung Fu Kings 4 The Challenge of Ku...,MOVIE,"While in Japan, best friends Motu and Patlu ha...",2018,G,86,[],[],NaN,NaN,NaN,NaN,1.133000,10.0,[]
2842,ts236619,Loo Loo Kids Johny & Friends Musical Adventure,SHOW,Music-loving baby Johny goes on dance-filled a...,2018,TV-Y,3,[],['US'],1.0,NaN,NaN,NaN,0.917000,10.0,[]
2919,tm1118527,Shiva VS Autobots,MOVIE,When an evil enemy gains control of a gadget t...,2018,NaN,79,[],[],NaN,NaN,NaN,NaN,0.626000,NaN,[]
2952,tm1073433,Shiva: The Secret World Of Vedas City,MOVIE,When the residents of Vedas are ordered to eva...,2017,G,78,[],[],NaN,NaN,NaN,NaN,1.400000,NaN,[]
2983,tm1073233,Motu Patlu in the City of Gold,MOVIE,Defeated by the strong yet naive Motu in a rac...,2018,G,77,[],[],NaN,NaN,NaN,NaN,2.089000,NaN,[]
3021,ts82591,Spiritual House,SHOW,Psychic Hiroyuki Ehara leads various celebriti...,2017,TV-PG,41,[],['JP'],1.0,NaN,NaN,NaN,0.600000,NaN,[]
3751,ts314529,Catch! Teenieping,SHOW,"Set free on Earth, fairies with magical powers...",2020,TV-Y,12,[],['KR'],2.0,NaN,NaN,NaN,0.600000,NaN,[]
3819,ts314647,Patton Oswalt: I Love Everything,SHOW,Turning 50. Finding love again. Buying a house...,2020,NaN,60,[],[],1.0,NaN,NaN,NaN,NaN,NaN,[]
4003,ts237239,All For Love,SHOW,A penniless country boy goes in search of his ...,2020,NaN,46,[],['CO'],1.0,NaN,NaN,NaN,34.554000,7.4,[]
4110,ts223062,ปริศนาล่าข้ามเวลา,SHOW,NaN,2019,TV-14,60,[],['TH'],1.0,NaN,NaN,NaN,1.473000,7.0,[]
4160,ts236197,StarBeam,SHOW,"Zoey is excited to tackle second grade, but wh...",2020,TV-Y,13,[],['CA'],4.0,NaN,NaN,NaN,6.803000,6.9,[]
4163,tm885470,My Next Guest with David Letterman and Shah Ru...,MOVIE,"""King of Bollywood"" Shah Rukh Khan opens up ab...",2019,NaN,61,[],[],NaN,NaN,NaN,NaN,0.600000,8.0,[]
4274,tm1172010,The Lockdown Plan,MOVIE,NaN,2020,NaN,49,[],[],NaN,tt13079112,6.5,NaN,NaN,NaN,[]
4591,ts252977,Baewatch: Parental Guidance,SHOW,Couples go on a romantic getaway to test their...,2019,TV-MA,47,[],[],1.0,NaN,NaN,NaN,0.606000,NaN,[]
4606,tm855232,Luccas Neto in: The End of Christmas,MOVIE,NaN,2019,NaN,71,[],[],NaN,NaN,NaN,NaN,1.603000,7.8,[]
4648,tm1113921,In Vitro,MOVIE,'In Vitro' is an otherworldly rumination on me...,2019,NaN,27,[],[],NaN,tt10545994,7.7,NaN,NaN,NaN,[]
4653,tm1030742,One Like It,MOVIE,This short film follows a day in the life of a...,2020,NaN,14,[],[],NaN,NaN,NaN,NaN,0.961000,3.5,[]
4659,tm470687,Loving is Losing,MOVIE,When a newly single photographer is forced to ...,2019,NaN,91,[],['CO'],NaN,NaN,NaN,NaN,0.759000,4.8,[]
4669,tm1080554,Rudra: Secret of the Black Moon,MOVIE,Kid magician Rudra sets out to save Earth from...,2020,NaN,87,[],[],NaN,NaN,NaN,NaN,0.600000,NaN,[]
4675,ts304136,마법버스 타요,SHOW,NaN,2020,TV-Y7,24,[],['KR'],1.0,NaN,NaN,NaN,0.600000,NaN,[]
4680,ts223454,นางสาวก้นครัว,SHOW,"""Miss Culinary"" reveals the brilliance of a yo...",2019,TV-14,0,[],['TH'],1.0,NaN,NaN,NaN,2.431000,8.0,[]
5383,tm1142517,The Witcher: Fireplace,MOVIE,After keeping many a Witcher warm in the Great...,2021,NaN,59,[],['US'],NaN,NaN,NaN,NaN,5.050000,5.3,[]
5483,tm1237253,My Little Pony: A New Generation: Sing-Along,MOVIE,NaN,2022,NaN,90,[],[],NaN,NaN,NaN,NaN,NaN,NaN,[]
5507,tm1074621,Bridgerton - The Afterparty,MOVIE,"""Bridgerton"" cast members share behind-the-sce...",2021,NaN,38,[],['US'],NaN,NaN,NaN,NaN,NaN,NaN,[]
5562,tm1074622,Cobra Kai - The Afterparty,MOVIE,"Ralph Macchio, William Zabka and more from the...",2021,NaN,34,[],['US'],NaN,NaN,NaN,NaN,1.400000,NaN,[]
5686,ts296698,Glimpses of a Future,SHOW,A few weeks into the first COVID-19 lockdown i...,2021,TV-PG,4,[],[],1.0,tt14754320,NaN,NaN,0.600000,NaN,[]
5687,tm1143319,The Witcher Season One Recap: From the Beginning,MOVIE,From Yennefer's magical origins to Geralt's fi...,2021,NaN,15,[],[],NaN,NaN,NaN,NaN,15.189000,6.1,[]
5694,tm1036542,Shadow and Bone - The Afterparty,MOVIE,"Stars of Netflix's ""Shadow and Bone"" discuss t...",2021,R,32,[],"['HU', 'CA']",NaN,NaN,NaN,NaN,1.667000,7.8,[]
5703,tm1039571,The Upshaws - The Afterparty,MOVIE,"The comedic dream team from ""The Upshaws"" disc...",2021,R,32,[],['US'],NaN,NaN,NaN,NaN,1.878000,7.7,[]
5735,ts297061,Masameer County,SHOW,"A humorous view of a changing Saudi Arabia, as...",2021,TV-MA,21,[],['SA'],1.0,NaN,NaN,NaN,2.122000,8.0,[]
5740,ts269300,Paik's Spirit,SHOW,A reality series introducing Korean alcohol an...,2021,NaN,56,[],['KR'],1.0,NaN,NaN,NaN,1.710000,8.0,[]
5771,tm1019822,Connected,MOVIE,"Argentine DJ Hernán Cattáneo, known for his ho...",2021,NaN,42,[],[],NaN,NaN,NaN,NaN,5.197000,7.3,[]
5776,ts346656,African Knock Out Show,SHOW,"Through intense training and challenges, a gro...",2022,TV-14,32,[],['US'],1.0,NaN,NaN,NaN,0.839000,NaN,[]
5778,ts297729,Quarantine Tales,SHOW,"Five different stories, and from a variety of ...",2021,TV-MA,19,[],['ID'],1.0,tt13555930,NaN,NaN,0.641000,5.0,[]
5789,tm1019084,Ginny & Georgia - The Afterparty,MOVIE,Cast members of the hit Netflix show join the ...,2021,R,35,[],"['CA', 'US']",NaN,NaN,NaN,NaN,3.715000,7.9,[]
5792,ts287804,Mad Crazy Colombian Comedians,SHOW,Four of Colombia's funniest and bawdiest comed...,2021,NaN,33,[],['CO'],1.0,NaN,NaN,NaN,0.840000,1.0,[]
5799,tm1040959,The Circle: The Afterparty,MOVIE,Stars of The Circle drop by to discuss Season ...,2021,NaN,35,[],['US'],NaN,NaN,NaN,NaN,1.882000,10.0,[]
5802,ts302434,Plastic Cup Boyz: Laughing My Mask Off!,SHOW,Comedy collective The Plastic Cup Boyz pour ou...,2021,NaN,33,[],[],1.0,NaN,NaN,NaN,0.683000,NaN,[]
5840,tm1216735,Sun of the Soil,MOVIE,"In 14th-century Mali, an ambitious young royal...",2022,NaN,26,[],[],NaN,NaN,NaN,NaN,1.179000,7.0,[]
5844,tm1074617,Bling Empire - The Afterparty,MOVIE,"The stars of ""Bling Empire"" discuss the show's...",2021,NaN,35,[],['US'],NaN,NaN,NaN,NaN,NaN,NaN,[]
5848,tm1035612,Dad Stop Embarrassing Me - The Afterparty,MOVIE,"Jamie Foxx, David Alan Grier and more from the...",2021,PG-13,37,[],['US'],NaN,NaN,NaN,NaN,1.296000,10.0,[]

In [14]:
title1.drop(title1[title1['genre'] == '[]'].index, inplace=True)

In [15]:
title1['genre'].value_counts()

drama            2968
comedy           2325
thriller         1228
action           1157
romance           971
documentation     952
crime             936
animation         705
family            682
fantasy           630
scifi             589
european          443
horror            378
music             262
history           254
reality           234
sport             170
war               163
western            41
Name: genre, dtype: int64

In [16]:
title.groupby('release_year')['release_year'].count().reset_index(name="count")

    release_year  count
0           1945      1
1           1954      2
2           1956      1
3           1958      1
4           1959      1
..           ...    ...
58          2018    773
59          2019    836
60          2020    814
61          2021    787
62          2022    371

[63 rows x 2 columns]

In [17]:
countData = title['release_year'].value_counts().rename_axis("Release Year").reset_index(name="Count")
countData.head(1)
# countData.plot(kind='bar', figsize=(12, 5))

   Release Year  Count
0          2019    836

In [18]:
# py.bar(countData, title="Total content Release based Year", x="Release Year", y="Count")
countData.iplot(kind='bar', x="Release Year", y="Count", title="Total content Release based Year")

### Plot Based on Release Year

In [19]:
release_year = title.groupby(['release_year', 'type'])[['type']].apply(lambda x: len(x)).reset_index()
# countCont
movie = release_year[release_year['type'] == 'MOVIE']
show = release_year[release_year['type'] == 'SHOW']

# Movie
movie['Movie'] = movie[0]
movie = movie.drop([0, 'type'], axis=1)

# Show
show['Show'] = show[0]
show = show.drop([0, 'type'], axis=1)

In [20]:
release_year = pd.merge(movie, show, on='release_year', how='inner')
release_year.head(1)

   release_year  Movie  Show
0          1969      1     1

In [21]:
release_year.iplot(kind="bar", x="release_year", color=["dodgerblue", "mediumseagreen"], title="Release Year")

### Plot Based on Gernes Type

In [22]:
genData = title1.groupby(['genre', 'type'])[['type']].apply(lambda x: len(x)).reset_index()
movie=genData[genData['type'] == 'MOVIE']
show=genData[genData['type'] == 'SHOW']

# Movie
movie['movie'] = movie[0]
movie = movie.drop([0, 'type'], axis=1)

# Show
show['show'] = show[0]
show = show.drop([0, 'type'], axis=1)

In [23]:
genData = pd.merge(movie, show, on='genre', how='inner')
genData.head(1)

    genre  movie  show
0  action    718   439

In [24]:
genData.iplot(kind="bar", x="genre", color=["dodgerblue", "limegreen"], title="Genres")

### Plot Based on Gernes Type & IMDB Ratings (People like most)

In [25]:
genData = title1[title1['imdb_score'] > 5].groupby(['genre', 'type'])[['type']].apply(lambda x: len(x)).reset_index()
movie=genData[genData['type'] == 'MOVIE']
show=genData[genData['type'] == 'SHOW']

# Movie
movie['movie'] = movie[0]
movie = movie.drop([0, 'type'], axis=1)

# Show
show['show'] = show[0]
show = show.drop([0, 'type'], axis=1)

genData = pd.merge(movie, show, on='genre', how='inner')
genData.head(1)

    genre  movie  show
0  action    584   407

In [26]:
genData.iplot(kind="bar", x="genre", title="Genres", color=["dodgerblue", "limegreen"])

# Credit Dataset

In [27]:
credit = pd.read_csv('credits.csv')
credit.head()

   person_id       id             name                character   role
0       3748  tm84618   Robert De Niro            Travis Bickle  ACTOR
1      14658  tm84618     Jodie Foster            Iris Steensma  ACTOR
2       7064  tm84618    Albert Brooks                      Tom  ACTOR
3       3739  tm84618    Harvey Keitel  Matthew 'Sport' Higgins  ACTOR
4      48933  tm84618  Cybill Shepherd                    Betsy  ACTOR

In [28]:
credit.shape

(77801, 5)

In [29]:
credit.id.unique().shape

(5489,)

In [30]:
title[title['id'] == 'tm84618']

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
1,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,114,"['drama', 'crime']",['US'],NaN,tt0075314,8.2,808582.0,40.965,8.179

In [31]:
credit[credit['id'] == 'tm84618'].head()

   person_id       id             name                character   role
0       3748  tm84618   Robert De Niro            Travis Bickle  ACTOR
1      14658  tm84618     Jodie Foster            Iris Steensma  ACTOR
2       7064  tm84618    Albert Brooks                      Tom  ACTOR
3       3739  tm84618    Harvey Keitel  Matthew 'Sport' Higgins  ACTOR
4      48933  tm84618  Cybill Shepherd                    Betsy  ACTOR

In [32]:
df = pd.merge(title1, credit, on='id', how='inner')
df.head()

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score,genre,person_id,name,character,role
0,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,114,"['drama', 'crime']",['US'],NaN,tt0075314,8.2,808582.0,40.965,8.179,drama,3748,Robert De Niro,Travis Bickle,ACTOR
1,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,114,"['drama', 'crime']",['US'],NaN,tt0075314,8.2,808582.0,40.965,8.179,drama,14658,Jodie Foster,Iris Steensma,ACTOR
2,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,114,"['drama', 'crime']",['US'],NaN,tt0075314,8.2,808582.0,40.965,8.179,drama,7064,Albert Brooks,Tom,ACTOR
3,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,114,"['drama', 'crime']",['US'],NaN,tt0075314,8.2,808582.0,40.965,8.179,drama,3739,Harvey Keitel,Matthew 'Sport' Higgins,ACTOR
4,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,114,"['drama', 'crime']",['US'],NaN,tt0075314,8.2,808582.0,40.965,8.179,drama,48933,Cybill Shepherd,Betsy,ACTOR

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 223223 entries, 0 to 223222
Data columns (total 20 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    223223 non-null  object
 1   title                 223223 non-null  object
 2   type                  223223 non-null  object
 3   description           223189 non-null  object
 4   release_year          223223 non-null  int64
 5   age_certification     144510 non-null  object
 6   runtime               223223 non-null  int64
 7   genres                223223 non-null  object
 8   production_countries  223223 non-null  object
 9   seasons               45961 non-null   float64
 10  imdb_id               217156 non-null  object
 11  imdb_score            216381 non-null  float64
 12  imdb_votes            216219 non-null  float64
 13  tmdb_popularity       223203 non-null  float64
 14  tmdb_score            221139 non-null  float64
 15  genre                 223223 non-null  object
 16  person_id             223223 non-null  int64
 17  name                  223223 non-null  object
 18  character             199555 non-null  object
 19  role                  223223 non-null  object
dtypes: float64(5), int64(3), object(12)
memory usage: 35.8+ MB

In [34]:
df.shape

(223223, 20)

In [35]:
df.groupby(['character', 'type'])['type'].count()

character            type
"Barton"             MOVIE    2
"Big Tony" Hamilton  MOVIE    2
"Birdy"              SHOW     5
"Buła"               MOVIE    3
"Czuły Roman"        MOVIE    2
                             ..
青雄                   SHOW     4
볼트                   SHOW     1
새미                   SHOW     1
월주(아역)               SHOW     4
츄우                   SHOW     2
Name: type, Length: 48609, dtype: int64

In [36]:
countChar = df.groupby(['character', 'type'])['type'].count()
# df[df[countChar] == 'Barton']
countChar

character            type
"Barton"             MOVIE    2
"Big Tony" Hamilton  MOVIE    2
"Birdy"              SHOW     5
"Buła"               MOVIE    3
"Czuły Roman"        MOVIE    2
                             ..
青雄                   SHOW     4
볼트                   SHOW     1
새미                   SHOW     1
월주(아역)               SHOW     4
츄우                   SHOW     2
Name: type, Length: 48609, dtype: int64

In [37]:
mylist = ["a", "a", "b", "c", "c"]
# mylist
[*set(mylist)]

['b', 'a', 'c']

In [38]:
from copy import copy, deepcopy
name = "Swarup"
id(name)

140262248475888

In [39]:
# Shallow Copy
n = copy(name)
id(n)

140262248475888

In [40]:
# Deep Copy
n1 = deepcopy(name)
id(n1)

140262248475888